body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    color: black;
    background-color: #c1c1c1;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(204, 204, 204);
}

.container {
    width: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 25px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #555;
}

.profile-picture-container {
    text-align: center;
    margin-bottom: 10px;
}

#profile-picture-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.show-password-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.show-password-container input[type="checkbox"] {
    margin-right: 5px;
}
